[2017-05-26 08:17] darthvader88 opened #37 "Stack validation fails sometimes"
Reproduction:

[code]

[2017-05-27 16:08] darthvader88 commented on #37
Another reproduction with much more debug info:

[code]

[2017-05-28 10:40] darthvader88 commented on #37
This concrete type of stack validation failure has been solved by commit a4d07f5180b834dc5add173f3b13898fc9b119a8

Which makes dead kernel threads to be destroyed later (not in the scheduler) by using tasklets.

[2017-05-28 10:40] #37 closed

[2018-02-03 16:49] vvaltchev opened #49 "Failed exvfs.seek test"
[ INFO     ] random seed: 2134373407
Buffers differ.
Last offset: 49084
Curr pos: 94598
read ret: 0
Linux buf: ffffffe0 15 ffffffa0 4c fffffffe 7f 00 00 ffffffbc ffffffaa 48 00 00 00 00 00 00 00 00 00 00 00 00 00 fffffff0 5b 12 02 00 00 00 00 00 00 00 00 00 00 00 00 ffffff8a 6e 49 00 00 00 00 00 ffffffc8 15 ffffffa0 4c fffffffe 7f 00 00 10 16 ffffffa0 4c fffffffe 7f 00 00
ExOS buf:  7c 00 00 00 00

[2018-03-06 18:34] vvaltchev opened #50 "ASSERT failed in the fseek test"
[ RUN      ] exvfs.fseek
[ INFO     ] random seed: 2385683618
Kernel assertion 'to_read == d->cluster_size' FAILED in /home/travis/build/vvaltchev/experimentOs/common/fat32_base.c at line 643
/home/travis/.travis/job_stages: line 57: 12802 Aborted                 (core dumped) MALLOC_CHECK_=2 ./build/gtests
The command "MALLOC_CHECK_=2 ./build/gtests" exited with 134.

[2018-03-13 18:11] vvaltchev commented on #50
Fixed with commit c4994e7e0684c1c72852e9dd1ffd07cef2b38675

[2018-03-13 18:11] #50 closed

[2018-03-13 18:23] vvaltchev commented on #50
Fixed with commit c338a4bf644cbe013ea4d4cb12a2917501fe0c48.
The ASSERT was wrong.

[2018-03-13 18:24] vvaltchev commented on #49
Fixed with commit c338a4bf644cbe013ea4d4cb12a2917501fe0c48.
The buffers compared contained garbage since read returned 0. Not really a bug in the FAT code.

[2018-03-13 18:24] #49 closed

[2018-03-19 14:46] vvaltchev opened #51 "Make gtests runnable from everywhere"
Currently, the unit tests have to be run from project's main dir, because the fat32 tests use hard-coded relative paths to reach the build directory. It would be good instead to pass build directory's full path to the tests with a compile option.

[2018-03-24 18:00] vvaltchev opened #52 "Research ways to handle total memory corruption (i.e. causing a double-fault)"

[2018-03-27 16:02] vvaltchev opened #53 "kfree panic"
Steps to reproduce:
1. in tasklet_runner_kthread() use kernel_yield() instead of the kcond_wait()
2. enter quickly many commands. It likely a race condition.

************************ KERNEL PANIC ************************
[kfree] Heap not found for block: 0x00670000

Current process: 91 [USER]
Interrupts: [ 128 ]
eflags: 0x00000002 [  ], IOPL: 0
ss:  0x00000010, cs:  0xc7e50008, ds:  0xc7e50010, e

[2018-03-27 19:50] vvaltchev commented on #53
Fixed with commit 534ee0694828bcea666b3a4dd4ecbf2d29d32ad1.

[2018-03-27 19:50] #53 closed

[2018-04-11 13:27] vvaltchev opened #54 "Critical TODO: make kernel check user vaddrs received in syscalls"
Currently, exOS does not do any checking on the vaddrs that user applications pass to it through syscalls.
This clearly a problem since, an invalid vaddr can make the whole kernel to crash.

[2018-04-17 13:55] vvaltchev commented on #54
Fixed in the latest merge.

[2018-04-17 13:55] #54 closed

[2018-05-19 15:12] vvaltchev commented on #52
The stack pointer validation does a great job most of the time but, if for any reason the overflow is so big that messes up stuff like the ESP in the current TSS,  regular fault handlers cannot run, the CPU triggers a double-fault, but it cannot run as well (because it triggers a fault fault) and therefore we get a triple fault and the system reboots. The point of this (non high-priority task) is

[2018-06-01 17:15] vvaltchev commented on #51
Solved by commit f26622e1f996090794671960b5c54449d60fff78.

[2018-06-01 17:15] #51 closed

[2019-08-24 17:01] ZombineDev opened #60 "A note on pointer-to-void to pointer-to-function cast"
This is a follow up on our discussion on [`[0]`][0] from the other day. I was interested in the details and did some research and I wanted to share what I found, which I hope may be of interest to you as well.

I checked several answers in StackOverflow and Reddit and then I went forward straight to the source - the C99 standard [`[1]`][1] and I didn't find any clause explicitly saying that castin

[2019-08-24 17:35] vvaltchev commented on #60
Hi Petar,
thanks for the detailed research.
Overall, it makes sense to me, even if I'm far from wanting/trying to be a "language lawyer" in order to further pursue this issue.

I'd just like to quote a comment from `dlopen`'s man page:
http://man7.org/linux/man-pages/man3/dlopen.3.html

[code]

The last time I checked this, maybe around 2013 before the "2013 Technical Corrigendum" become a thing,

[2019-08-25 11:11] ZombineDev commented on #60
Digging a bit further, is kind of a mess.

* C89 explicitly listed it as [undefined behavior](http://port70.net/~nsz/c/c89/c89-draft.html#A.6.2):

Yet, it also lists it as a common extension:

* C99 doesn't list it as undefined behavior and again only mentions it under [common extensions](http://port70.net/~nsz/c/c99/n1256.html#J.5.7):

* In C++98-03 it is not undefined behavior, but illegal, mean

[2019-08-25 13:39] #60 closed

[2019-08-25 19:59] vvaltchev commented on #52
I'm closing this issue from here, as I'm not using this tool (Github's issues) anymore for self-driven projects/improvements for Tilck. Still, this tool will remain enabled for bug reporting.

[2019-08-25 19:59] #52 closed

[2020-11-05 07:26] Narasimha1997 opened #64 "touch command throws EFAULT"
So, I was just trying out the kernel with busy box by following the guidelines provided in  `README` file.
When I execute the command `touch hello.txt` from any directory I get the following error :
[code]
In other words, it throws `EFAULT` error.
Maybe there is a bug in one of the system calls invoked by `touch` command.

**Update**:
After analyzing the source code, I could see that there is an i

[2020-11-05 12:50] #64 closed

[2020-11-05 12:56] vvaltchev commented on #64
Hi Narasimha,
thanks for reporting this issue.

I didn't notice in the documentation that `utimes()` must support a NULL `times` param.
The amount of corner cases like that is huge.

Anyway, I just merged a patch fixing it and now `touch` works as expected.

Vlad

[2021-07-31 12:58] misutoneko opened #74 "bogoMips 0 causes a halt/freeze"
Hi!
Oh man what an awesome project. Your blog posts were nice too :D
Quite a lot of questions spinning around in my head now, but mainly just wanted to drop in to say "hi, saw what you did there, i approve" :D

I do have a small bug to report though. I did [some testing in UniPCemu](https://www.vogons.org/viewtopic.php?p=985729#p985729) and found out that bogoMips goes to zero for some reason
(EDI

[2021-07-31 17:54] vvaltchev commented on #74
Hi, nice to meet you!
Thank you for your kind words and for appreciating my work.
I'm glad to hear you're using Tilck to test a new emulator, that's _awesome_.

Now, back to technical stuff. I've took a look at the conversation on vogons.org (great place, btw).
I'd like to start by explaining how `i8042_io_wait()` works: for years, it was just an empty inline function because hypervisors don't nee

[2021-07-31 18:39] vvaltchev commented on #74
An alternative solution might be to:

1. Rename `loops_per_us` to `loops_per_ns`
2. Initialize `loops_per_us = 5` (instead of 5,000)
3. In measure_bogomips_irq_handler(): `loops_per_ns = loops_per_tick / (1000 / TIMER_HZ);`
4. In do_bogomips_loop(): `printk("Tilck bogoMips: %u.%03u\n", loops_per_ns/1000, loops_per_ns % 1000);`
5. In delay_us() do:
[code]
6. Optionally, introduce a delay_ns() funct

[2021-07-31 22:01] misutoneko commented on #74
OK thx, I'll check those.
Actually the one in the first post won't work unless you use 10 instead of 1 (otherwise it'll still get truncated to 0).
It'd probably be better to use MAX() on loops_per_us, to avoid introducing an extra constant which may cause breakage later on.
(Unless there's some other reason to do it this way - Can't see any, but...)
As for PR - In fact I wasn't planning on doing a

[2021-08-01 00:28] vvaltchev commented on #74
Ah yeah, you're right. My first suggestion won't work with 1, and 10 is bad because depends on TIMER_HZ and related.
The problem is that we need the following to hold: `loops_per_tick >= (1000000 / TIMER_HZ)`, so the correct fix should be:
[code]

But that's pretty ugly, I know. The problem with using MAX on just `loops_per_us` is that it will create an inconsistency with `loops_per_tick`. Another

[2021-08-01 09:25] misutoneko commented on #74
The one in your second post did the trick. Here it is in patch form:
[Tilck_timer_ns_patch.diff.gz](https://github.com/vvaltchev/tilck/files/6912417/Tilck_timer_ns_patch.diff.gz)

That's a good point about attribution, and for bigger patches it's a good idea for maintenance's sake. Especially with larger projects with many contributors...
My logic is that the authors will always be more fluent wit

[2021-08-01 10:24] ytret opened #75 "False warning about absence of KVM on Arch Linux"
`scripts/templates/qemu/run_qemu` checks for presence of KVM in the system with `which kvm`:

https://github.com/vvaltchev/tilck/blob/3cde30be0f7d92760a66c99b677868ec822c4a2f/scripts/templates/qemu/run_qemu#L12-L20

I have KVM installed and the KVM module is loaded into the kernel:
[code]

But there is no `kvm` binary, so the check above fails.

The script also actually runs QEMU with `-enable-kvm

[2021-08-01 11:23] vvaltchev commented on #74
Thanks for the patch!
Unfortunately, at the end I had to modify it heavily mostly because some of my suggestions were not completely correct. For example, the variable `loops_per_ns` is calculated correctly but represents the loops per _millisecond_, not nanosecond. Also, after some serious thinking I realized that it's not enough to just check for loops > 0 in `delay_us()`. That would mean that o

[2021-08-01 11:30] vvaltchev commented on #74
I've merged the patch. Let me know if something still doesn't work.
Thanks for reporting this issue, man! :+1:

[2021-08-01 11:30] #74 closed

[2021-08-01 11:36] vvaltchev commented on #75
Good point.
What about checking KVM's presence with: ` if lsmod | grep kvm &> /dev/null; then` ?

[2021-08-01 13:14] ytret commented on #75
Grepping only `kvm` is not enough, because for KVM to work properly either `kvm_intel` or `kvm_amd` has to be loaded. For example, on my machine QEMU errors with `failed to initialize kvm` without `kvm_intel`. So it's reasonable to write:

[code]

Regarding your last question, that's not my case, at least. I have just rebooted, run `lsmod | grep kvm` before running QEMU and the modules are there.

[2021-08-01 13:29] vvaltchev commented on #75
Mmm... isn't checking for either `kvm_amd` or `kvm_intel` a bit too tight as a requirement? If tomorrow the KVM guys create a new kvm_generic_XYZ module, those checks will fail and we'll see a false positive again. On the other hand, if we are in the corner case described here: https://wiki.archlinux.org/title/KVM:

We'll have `kvm` loaded but neither `kvm_amd` or `kvm_intel`, because KVM is insta

[2021-08-01 16:05] #75 closed

[2021-08-01 16:05] vvaltchev commented on #75
Merged. Thanks for the fix!

[2021-08-04 05:49] johanburati opened #79 "Building fbdoom"
I am getting an error when I try to build **fbdoom** on Ubuntu 20.04 x86_64.
Maybe I am missing some 16bit libraries, does anyone knows which ones I need to install ?

[code]

[2021-08-04 11:21] vvaltchev commented on #79
Hi!
I'm unable to reproduce your issue, not even on a fresh install of Ubuntu 20.04. `build_fbdoom` uses a prebuilt GCC i686 toolchain downloaded the first time `./scripts/build_toolchain` is run, so there's no need to install 32-bit cross-compilers at system level.

Did you run `./scripts/build_toolchain` without options first? That's the first step required after cloning Tilck's repo:
https://gi

[2021-08-04 23:48] johanburati commented on #79
Hi Vlad, thank you I've tried again and could build it this time, maybe I missed running the script without the *-s option*.
Now I need to figure out how to get the framebuffer thing to work with **qemu**, I am getting a `Could not open /dev/fb0` error when trying to run **fbdoom**, any idea how to fix that ?

[2021-08-05 11:27] vvaltchev commented on #79
I'm happy to help :-)
You could get such an error only if you booted Tilck in "text mode". The bootloader allows you to choose text mode or plenty of other resolutions. 800x600 is the default one.

If you're using Linux, just run `./build/run_qemu` and boot using the default settings by just pressing ENTER.

If you're using WSL, running Linux graphical applications (such as QEMU) is more tricky. Y

[2021-08-05 12:10] el3ctr0lyte opened #80 "Lightweight X server."
There are lightweight x server implementations like Xfree86 and Nano-x that could maybe be added as extra stuff that you have to configure with the build scripts. It would be impressive to see how well this would work and what applications would run. Although i think you would probably also need gtk and qt5 which would bloat it a bit. Just something to think about.

[2021-08-05 13:20] vvaltchev commented on #80
Hi!
I've answered to your question in Github discussions section, as this is not a bug report.
Let's continue the conversation here: https://github.com/vvaltchev/tilck/discussions/81

I'm closing this non-issue.

[2021-08-05 13:20] #80 closed

[2021-08-06 00:19] johanburati commented on #79
Awesome it's working ! I was using the kernel and the ramdisk, I switched to using the image ;-)

[2021-08-06 09:39] vvaltchev commented on #79
That’s great!

[2021-08-06 09:39] #79 closed

[2021-10-15 16:23] jeremy-coleman opened #91 "Today i learned c kernel"
Tilck

[2021-10-16 18:19] jeremy-coleman commented on #91
You've helped enough:)

[2021-10-16 18:19] #91 closed

[2022-05-16 18:11] duselguy opened #97 "Build tcc fails because the related tag is absent in git repo"
**Describe the bug**
vladimir@Veriton:~/Project2/tilck$ ./scripts/build_toolchain -s build_tcc

ARCH=i386
HOST_ARCH=x86_64
GCC_TC_VER=8.4.0
ARCH_GCC_TC_VER=stable-2020.02-2

CI Detected: None [Assuming user machine]
[build_toolchain] Executing single function 'build_tcc'
NOTE: Skipping GCC TOOLCHAIN (i386 - musl)

*** TCC ***

\+ local url=git://repo.or.cz/tinycc.git
\+ local tag=15e9b7384e7091200

[2022-05-17 12:08] vvaltchev commented on #97
Thank you for the bug report, Vladimir.
I've just fixed the issue with commit d03e87636f604551c13020e652e52db52acce69c.

It looks like the TCC repo changed something server side and now it doesn't accept fetch of untagged refs. Since TCC has no recent tags, I have no choice but to point to a specific commit SHA. That's not supported by their server anymore, maybe because they switched to BitBucket

[2022-05-17 12:08] #97 closed

[2022-05-17 23:16] duselguy commented on #97
Thank you, it works like a charm!

P.S. Though the version information does not look convenient to use and support:
_Host:_
vladimir@Veriton:\~$ busybox | head -1
BusyBox v1.30.1 (Ubuntu 1:1.30.1-4ubuntu6.4) multi-call binary.
vladimir@Veriton:~$ tcc -v
tcc version 0.9.27 (x86_64 Linux)
_Tilck:_
![image](https://user-images.githubusercontent.com/22796143/168925785-8a039087-baa2-442a-b8c6-7df9ca063

[2022-05-18 08:30] vvaltchev commented on #97
@duselguy  You're welcome!

What do you mean with "the version information does not look convenient to use and support"? Tilck's build scripts do nothing in particular to add meta-information to the version of each supported app, if that's what you mean. If you refer to the TCC version that looks weird, consider that 0.9.27 has been released several years ago, and since then nobody tagged a commit

[2022-05-18 15:34] duselguy commented on #97
My previous comment was rhetorical (and not about tilck project). The output of -v is (traditionally) incomplete and non-standard to give sufficient information about the state of the product. And the date/MSK (busybox) and d03e8763 (tilck) values look odd (to me) as they refer to the product's environment rather than being a useful addition to the version information of the product itself.

[2022-05-19 00:20] vvaltchev commented on #97
@duselguy I understand now. I actually haven’t noticed that TCC shows Tilck’s commit SHA. Thanks for pointing that out. Your comment is perfectly valid.

That’s probably caused by TCC’s build system running the git command. Since I delete the .git directory after the clone operation to save space in the cache, the only git repository that git finds is the parent’s one. I’ll think about a solution

[2022-05-19 13:13] vvaltchev commented on #97
@duselguy I fixed that problem as well in commit 0afb60c2dab87caa620e34b0cbb55259241f6b56.
Now, after pulling the latest commit, do:
[code]
And you'll see that `tcc -v` will show its own commit SHA.

[2022-05-19 20:55] duselguy commented on #97
@vvaltchev
Thank you, is ok now.

[2022-06-08 16:29] duselguy opened #98 "Kernel panic after the boot in Lenovo T440"
**Describe the bug**
Kernel panic

**Host configuration**
Lenovo T440
BIOS:
UEFI/Legacy Boot [UEFI Only]
-CSM Support       [No]

**Toolchain configuration**
Standard

**Tilck build configuration**
Commit number in attachment below

**Type of issue (select one)**
- Panic

**Reproduction details**
Boot, no actions, panic.

**Screenshots**
![20220608_175828](https://user-images.githubusercontent.com

[2022-06-08 17:04] vvaltchev commented on #98
That's interesting. Unfortunately, it happens only on real HW and doesn't happen on any of the machines I own, so it will be harder to debug.

Two questions:
  1. How much RAM does the machine have?
  2. Which resolution did you choose?

A few experiments to do:

   1.  Try with commit 9adb423d and see if the same thing happens

   3.  In the interactive bootloader, type 'e' and then ENTER to edit

[2022-06-08 18:09] duselguy opened #99 "ACPI related problems"
I included few different problems in one issue, because (may be) they relate to the same problem.
----------------------------------------------------------------------------------------------------------------------------------
**Describe the bug**
ACPI related message appears only once.

**Host configuration**
Amilo UI 3520

**Toolchain configuration**
Standard

**Tilck build configuration**
See

[2022-06-08 18:26] vvaltchev commented on #99
OK, ACPI power events are not really supported at the moment. So, I'm not surprised to see the GPE appear inconsistently. I never had enough time to spend on this. The lid open/close events don't work.

In my understanding, the problem is that Tilck does not implement the address space for the embedded controller (EC). Without it, many things don't work properly.

The poweroff instead, should work

[2022-06-08 18:28] vvaltchev commented on #99
Just one thing, could you try to take photos in focus? I know it's a minor detail, but text is hard to read :-)

[2022-06-08 19:08] duselguy commented on #99
Sorry, my phone is too old to get good shots. Will use a separate camera next time.

[2022-06-08 21:33] duselguy commented on #98
Last commit is fae15c7d .

1. RAM 8GB
2. Default 800*600*32
3. After dp the first screen appears, but I can't navigate, because the keyboard is blocked:
![SAM_0560](https://user-images.githubusercontent.com/22796143/172720223-2ba7d436-616b-470a-a54b-55f14d822034.JPG)

I tried the same on another book (Amilo):
Navigate in dp is ok, but after quit:
![SAM_0565](https://user-images.githubusercontent.c

[2022-06-09 00:40] vvaltchev commented on #98
Thanks for the test, Vladimir.
It’s sad that the keyboard doesn’t work. Have you tried just pressing the caps lock or the num lock and checking if the led turns on and off?

Also, can you please try with commit 9adb423d15c7e58e45c75a7ecca89ce71eb27d3b?

About the second part, that’s not a bug. Unix kernels and Tilck must have init (pid 1) running all the time. If that process exits, panic is the d

[2022-06-09 21:36] duselguy commented on #98
1. The book has no leds for caps/num. Only Fn led (that has no sense in our case).
2. Tried with 9adb423d15c7e58e45c75a7ecca89ce71eb27d3b - the same result as above.
Regards,
Vladimir

[2022-06-10 08:27] vvaltchev commented on #98
Thanks Vladimir. Sure, I'll prepare an instrumented build to debug this.

[2022-06-11 11:26] duselguy commented on #99
Tried Alpine Linux on Amilo book (see above). poweroff and poweroff -f work ok (black screen and no led light).

[2022-06-11 20:13] vvaltchev commented on #99
Not surprised, Linux has a huge HW support. It runs on almost anything and has a huge base of beta-testers. Tilck is mostly tested on just the machines I personally own :-)

Anyway, yeah, the poweroff not working is definitively a Tilck bug. The other things related to GPE events are in the "not yet implemented" category.

[2022-06-12 11:08] vvaltchev commented on #98
Hello Vladimir (@duselguy),

I've instrumented the code to debug this issue. Unfortunately, I'm extremely busy at the moment, so I hope this will be enough to debug the issue.

Instructions:
   1. Delete your build directory (with rm -rf)
   2. Check out the `debug_issue_98` branch
   3. Build as usual and flash Tilck's image into an USB drive
   4. Boot Tilck on your Lenovo machine with the follo

[2022-06-12 11:12] vvaltchev commented on #99
@duselguy I didn't have time to look at the bug with the ACPI poweroff, but I noticed that `poweroff -f` and `reboot -f` didn't behave properly due to a small bug of mine and could get stuck. Again, this doesn't fix this ACPI-related bug, but it's something.

[2022-06-12 11:13] vvaltchev commented on #98
@duselguy Btw, since you mentioned that on this machine the keyboard doesn't work, please add also the following two options to debug this issue: `-ps2_log -ps2_selftest` and make screenshots.

[2022-06-12 18:56] duselguy commented on #99
Thank you,
1) poweroff, poweroff -f, reboot, reboot -f work as expected now.
2) The problem with ACPI/POWER/LED (see above) is left until better times.
Regards,
Vladimir

[2022-06-12 20:50] duselguy commented on #98
Sorry, I didn't find in the doc how to add options for the boot (4. above in your scenario). Please, advice.
Also, -ps2... options should be be used in the separate boot (without -pk -bb)?
Thanks.

[2022-06-12 22:01] vvaltchev commented on #99
That's great, thank you Vladmir!!
I'm closing this issue because what mattered was to get poweroff and reboot to work on your machine too.
The rest is in a long TODO list :-)

[2022-06-12 22:01] #99 closed

[2022-06-12 22:07] vvaltchev commented on #98
OK, when you boot Tilck's flash drive, you first end up in Tilck's bootloader.
If you press 'e' and then ENTER there, you should be able to edit the kernel's command line.
There, you can add those options. (It's the same you did when you used `-cmd /initrd/usr/bin/dp`)

Yes, it makes sense to just use `-pk -bb` and then `-pk -bb -debug_pa <paddr>` for debugging the panic itself on the **debug bran

[2022-06-12 23:29] duselguy commented on #98
Ok, I missed or misinterpreted "and to edit kernel's cmdline."
In any case the 1st scenario doesn't work as described (on debug_issue_98 with commit f44053a5e).
1. I entered -pk -bb then boot
2. Received kernel panic and Paddr: address 0x37f3e000 has invalid ref_count: 0
3. I entered -pk -bb -debug_pa 0x37f3e000 then boot
4. The same picture with kernel panic, etc.
5. shift+PgUp doesn't work

[2022-06-13 12:32] duselguy commented on #98
1) Add options:
![SAM_0568](https://user-images.githubusercontent.com/22796143/173353302-ffbf5f37-8724-4a3f-8917-11a707958641.JPG)
2) Boot:
![SAM_0569](https://user-images.githubusercontent.com/22796143/173353486-beec2815-0f16-4a7e-ae73-d0ac6d79063a.JPG)
3) Add  option:
![SAM_0570](https://user-images.githubusercontent.com/22796143/173353853-9247715d-980a-4852-a82c-436e2b819cb0.JPG)
4) Boot:
![SAM

[2022-06-13 19:06] duselguy commented on #98
![SAM_0577](https://user-images.githubusercontent.com/22796143/173426137-41e25941-9ef3-43e4-8ac1-3482a6711450.JPG)

[2022-06-14 08:52] vvaltchev commented on #98
@duselguy Hello Vladimir. Thanks for the update!
The info in this screenshot made the difference. I believe I've discovered and fixed the issue in the `debug_issue_98` branch.
What happened is that the ramdisk (RDSK in the mmap) was placed by the UEFI bootloader past the end of the usable physical memory by Tilck (896 MB) and the page with ref-count zero belongs to the ramdisk. Because of that, Ti

[2022-06-14 11:51] duselguy commented on #98
Hello Vlad,
thank you for the comprehensive explanations.
The new image was booted without the options:
![SAM_0581](https://user-images.githubusercontent.com/22796143/173570536-2539bb7c-4a9e-4155-bfb0-b3792620a472.JPG)
Regards,
Vladimir

[2022-06-14 16:07] duselguy commented on #98
I checked twice: with the image and USB stick under QEMU: it is commit f64248da .
Regards,
Vladimir

[2022-06-14 16:36] duselguy commented on #98
Is this correct for debug_issue_98 branch:
This branch is [1 commit ahead](https://github.com/vvaltchev/tilck/compare/master...debug_issue_98), [4 commits behind](https://github.com/vvaltchev/tilck/compare/debug_issue_98...master) master.

[2022-06-14 16:43] vvaltchev commented on #98
Yes, the branch is not rebased on the top of master anymore, but don't worry about that. After we discover the problem, I'll create a dedicated commit on master for the fix.

So, I've updated the branch once more. The new commit is now 3330462f
Now, after this screen:
![boot-1](https://user-images.githubusercontent.com/1541932/173630934-6de8baf4-1b14-47be-aa66-adf8d680b34e.jpg)

you should see a s

[2022-06-14 16:49] duselguy commented on #98
Yes, [UEFI Only].

[2022-06-14 17:59] vvaltchev commented on #98
@duselguy  OK, that means that the problem is not necessarily there. Maybe phys_mem_lim did wrap around because you have more than 4 GB of usable mem? I made some significant changes in commit 8df0dd45. Can you please test with that? Note: please make a screenshot of both the addresses in the bootloader and the panic message, as I added new stuff.

[2022-06-14 18:16] vvaltchev commented on #98
After checking the UEFI spec, I realized why my previous fix doesn't work. This code:
[code]

Does not need the fix to move paddr by `ctx->rounded_tot_used_bytes` simply because according to the UEFI 2.8 spec:

So, the problem can really be the `phys_mem_lim` wrapping around the 32-bit limit.

[2022-06-14 19:06] duselguy commented on #98
Booted(!):
![SAM_0585](https://user-images.githubusercontent.com/22796143/173667605-91773687-53df-44f8-9848-e2ae7c1937f3.JPG)
![SAM_0586](https://user-images.githubusercontent.com/22796143/173667710-7cb87c7b-ef22-44e7-b0c4-a01884c9d030.JPG)
![SAM_0587](https://user-images.githubusercontent.com/22796143/173667760-313c8da2-9c4b-43e3-926b-327c761cf4aa.JPG)
P.S. Keyboard is locked after the boot.

[2022-06-14 19:50] duselguy commented on #98
Agree with ARM/RISC-V target (!).
P.S. I'm working as a tester (not unit tester) without looking into the code/changes in this project (sorry, also have no enought time and knowledges now).
P.P.S. Please, don't close the issue before I'll check your suggestions for KB (don't like technical debt).

[2022-06-14 20:09] vvaltchev commented on #98
Sure, no problem man. I'm not in a hurry to close this issue. I'm curious too to see if with -noacpi you'll have at least emulated PS/2 working.

[2022-06-14 20:40] duselguy commented on #98
![SAM_0589](https://user-images.githubusercontent.com/22796143/173683137-0642c196-f78b-47f9-9c39-fff6e24637bc.JPG)
![SAM_0590](https://user-images.githubusercontent.com/22796143/173683190-a0a898a2-0c52-49d6-bf8b-fe00c97a8513.JPG)
KB is locked (according your assumption).
If nothing new on screens above then you may close the issue (with your conclusion (for search, etc.)).
Thank you,
Vladimir

[2022-06-14 21:01] vvaltchev commented on #98
It's sad to hear that PS/2 keyboard doesn't work even with -noacpi. If you have the patience, try also with `-ps2_log -ps2_selftest`. It might show something. But I won't surprised at this point if nothing works on that machine, even if on all of my machines (6) it works. You might also check in the BIOS settings if you could enable "PS/2 keyboard emulation".

[2022-06-14 21:24] duselguy commented on #98
1) Nothing about PS/2 in BIOS
2) Nothing new with -ps2_selftest
3) Will check on master branch at least boot complete (as I understand you should move something from debug_issue_98 branch code changes)
4) Really/Fortunately I didn't plan to use this book with tilck -:)
Regards,
Vladimir

[2022-06-14 21:32] vvaltchev commented on #98
Thanks so much, man! 👍

[2022-06-14 21:37] duselguy commented on #98
NP, you are welcome!

[2022-06-15 12:57] vvaltchev commented on #98
The issue has been fixed with commit e0eee4d on the master branch.

@duselguy if you want, when you have some extra time, you might double check that the latest commit on master works, because the final fix is slightly different than the hack in the debug branch.

[2022-06-15 12:57] #98 closed

[2022-06-15 16:43] duselguy commented on #98
Checked, fix is ok, thanks.

[2022-06-18 18:09] duselguy opened #100 "The function AcpiOsStall doesn't work properly"
**Describe the bug**
According to the comment in hwsleep.c:
...
        /*
         * We wanted to sleep > S3, but it didn't happen (by virtue of the
         * fact that we are still executing!)
         *
         * Wait ten seconds, then try again. This is to get S4/S5 to work on
         * all machines.
         *
         * We wait so long to allow chipsets that poll this reg very slowly

[2022-06-18 18:58] vvaltchev commented on #100
Hi Vladimir! Sorry, but it's not clear to me how you triggered that code path for userspace.
By searching in hwsleep.c (ACPICA), I found that code is located in `AcpiHwLegacySleep()`. It should not be possible to end up there from user space without changing the kernel itself.

If you changed the kernel and wanted to test if ACPI can be used with Tilck to enter in the S3 sleep state, well... I did

[2022-06-18 20:08] duselguy commented on #100
1) I checked S5 not S3.
2) If you try my code changes in hwsleep.c then you will see that AcpiOsStall doesn't work as expected.
3) It may be HW depended, because the loop count in asm depends from it.
4) I don't see also your comments why there is no time gap (10 seconds) between 2 last messages in the screenshot.
5) In QEMU I don't see 10 seconds too:
![image](https://user-images.githubuserconten

[2022-06-18 21:32] vvaltchev commented on #100
I don’t understand: have you changed anything else other than adding log messages in hwsleep.c? poweroff works great on QEMU and on many HW machines as well. At least on QEMU we can test exactly the same thing. After you run poweroff, the VM powers off, doesn’t it? It doesn’t matter if the sleep function works or not in that context, what matters to me is if poweroff itself works. On VMs it should

[2022-06-18 22:05] duselguy commented on #100
I'm working on the problem #99 - power led after poweroff. I hope that may be this problem will be solved if "sleep 10 seconds" will work correctly. If poweroff works "correctly" (power is of, no power led after it) in QEMU, your books and one (from two) of my books, it doesn't mean that the problem with "sleep 10 seconds" (if it exists) should not be investigated.
If you insert few lines of the c

[2022-06-19 11:19] vvaltchev commented on #100
@duselguy Vladimir, I really appreciate your effort and interest in this project :-)

Just, in this case I'm not convinced you're investigating in the right direction. The fact that poweroff doesn't work correctly on all the HW machines, has probably nothing to do with `AcpiOsStall()` not working as expected: if you check the code you'll see that the function is called only if execution continues

[2022-06-19 11:36] vvaltchev commented on #100
@duselguy Btw, I spent a few minutes taking a look at `delay_us()`. It turns about that the function doesn't work simply because it has not been designed to work for too big values for of `us`. If the value is too big (e.g. 10 seconds = 10 million microseconds), when `us` is multiplied by `loops_per_us`, the unsigned wraps around, so we end up waiting way less than 10 seconds.

I'll add some ASSER

[2022-06-19 13:34] duselguy commented on #100
It took me longer yesterday to figure out the same thing. An open issue doesn't mean I've stopped working on it. Or do you prefer that the issue can only be opened when the issuer has already found (and code) a solution? Not sure if this is the correct approach.
In any case, my solution cannot be better than the author's solution. Thanks for the fix, I'll check it today later.
Regards,
Vladimir

[2022-06-19 13:58] vvaltchev commented on #100
If you have a patch for a bug, please open a pull request instead of an issue. Issues are for the case you just discovered a bug and don’t know how to fix it. Ultimately, only if enough people start contributing to the project by fixing bugs and implementing features, the project will have a chance to become something more than a toy.

Anyway, could you tell me how how did you reproduce an issue w

[2022-06-19 13:58] #100 closed

[2022-06-19 14:15] duselguy commented on #100
1) I didn't have the patch, I only saw a possible problem in the loops count.
2) The reproducing doesn't depend from QEMU/HW. Simply: issue message, sleep 10 seconds, issue message (as I described in my previous comments above).

[2022-06-19 15:26] vvaltchev commented on #100
1. OK, no worries ;-)
2. Aha. So it's not true that poweroff hanged the machine. You just did a screenshot at the right time or put the sleep call before the actual poweroff call (`AcpiHwWritePm1Control()`).

[2022-06-19 21:05] duselguy commented on #100
1) Sleep function is ok now.
2) Power/Led problem from the issue #99 still exists - continue investigation.
Thanks,
Vladimir

[2022-06-19 22:16] duselguy commented on #99
Investigation Power/Led problem on Amilo UI 3520 (To Be Continued):
1) Typo in osl_misc.c (AcpiOsEnterSleep):
`  printk("ACPI sleep: %u, 0x%x, 0x%x\n", SleepState, RegaValue, RegaValue);`

[2022-06-21 20:26] turbocat2001 opened #101 "Memory leak in compiled GCC."
Builded the toolchain with a script. Changed it a bit to use pacman for my Artix Linux. The toolchain is builded and the package is installed. However, when the kernel compilation hits 53 percent, I run out of memory and Xorg killed.

[2022-06-22 08:14] vvaltchev commented on #101
Hello :-) I've observed the same kind of problem while building any big-enough project on machines which a low amount of usable memory. Simply, by using `make -j`, GNU make spawns as many GCC instances as possible and each one consumes a fair amount of memory (hundreds of MBs): at some point, your system runs out of memory and the OOM killer is run: it selects a process to kill according to a comp

[2022-06-22 08:14] #101 closed

[2022-06-22 08:17] turbocat2001 commented on #101
Thank you!  I've just never encountered it.  Sorry.

[2022-06-23 23:05] vvaltchev commented on #99
That’s interesting. I missed this update.
So poweroff works, but just the leds might remain ON depending on their previous state, right?

[2022-06-23 23:49] duselguy commented on #101
Suddenly have almost the same on the build with make -j (Ubuntu freezes, hard reboot). The log shows zero free swap space. Moved to the simple make :-)

[2022-06-24 02:07] duselguy commented on #99
@vvaltchev
Almost so :-)

**Scenarios:**
1) Press the power button. Both indicators are on: power and Wi-Fi. We boot and issue the poweroff command: the screen goes blank, but both indicators (power and Wi-Fi) remain on.
2) Press the power button. Only the power indicator is on. We boot and issue the poweroff command: the screen and the power indicator go out.

**Trick:**
To execute scenario 2), y

[2022-06-24 06:35] vvaltchev commented on #101
@duselguy how much RAM do you have? try at least make -j2

[2022-06-24 09:21] vvaltchev commented on #99
@duselguy Thanks for the investigation, Vladimir. The whole picture makes perfectly sense. In order to function properly on all devices, poweroff requires first powering off some ACPI devices, like the Wi-Fi network device in your case. Tilck does nothing like that at the moment and completely relies on ACPI to do everything automatically. Unfortunately, it's not that simple sometimes.

I'll keep

[2022-06-24 11:52] duselguy commented on #101
@vvaltchev
4GB RAM and 2GB swap. At the build time with _make -j_ I had Chrome opened with GitHub tab. It looks like Chrome failed (something like oops on Chrome page appeared + warnings about Chrome extensions crashes). Ok, but what I don't like is Ubuntu freezing (keyboard and mouse are blocked) at out of memory.

[2022-06-24 13:12] duselguy commented on #99
@vvaltchev
I don't quite understand the purpose/behavior of the WiFi indicator on this netbook. Usually this LED should be on if we have a WiFi connection. In our case, it is also used to show whether WiFi connection is possible or not.
**Summary:**
1. Amilo
1.1. Tilck: The behavior of the _poweroff_ command is described in my previous comment.
1.2. Alpine Linux: _poweroff_ command turns off both

[2022-06-24 15:07] vvaltchev commented on #101
Unfortunately, that's pretty much inevitable because of the way the whole software stack is built (it's complicated). I don't like that we (the software industry) ended up in this position. For other operating systems is more or less the same. Just, the swap might dynamically expand on the fly but, if it reaches its hard limit, the whole system will loose stability because doesn't know which proce

[2022-06-24 15:09] vvaltchev commented on #99
@duselguy The WiFi indicator typically shows if the WiFi network adapter is turned on. That was nothing to do with the WiFi connection. The hotkey combination that you discovered allows you to turn on/off your WiFi hardware.

The purpose of that is AirPlane mode etc.

[2022-06-24 17:53] duselguy commented on #99
@vvaltchev
Lenovo:
1. Set the physical switch to OFF.
2. Boot Windows
![SAM_0606](https://user-images.githubusercontent.com/22796143/175614277-c8263b33-26d9-4001-aea7-e963324a5f24.JPG)
3. Set the physical switch to ON. See the photo above.
4. Connect WiFi
![SAM_0607](https://user-images.githubusercontent.com/22796143/175615120-dcf04f16-a2cd-4b9e-a0ad-68091504f519.JPG)
5. Disconnect WiFi
![SAM_0608

[2022-08-08 20:04] vvaltchev opened #117 "Add tests for register_on_task_exit_cb()"
As you can see from codecov: https://app.codecov.io/gh/vvaltchev/tilck/blob/master/kernel/exit.c, the functions `register_on_task_exit_cb()` and `unregister_on_task_exit_cb()` don't have test coverage. It will be good to add a test for them. This can be done via a kernel self-test.

[2022-08-08 21:14] vvaltchev opened #118 "Compile-out print_banner_line() and show_tilck_logo() when KERNEL_SHOW_LOGO=0"
As it can be seen from https://app.codecov.io/gh/vvaltchev/tilck/blobs/master/kernel/misc.c, `print_banner_line()` and `show_tilck_logo()` don't have coverage, despite being always run on boot. That's simply because in coverage builds, the env variable `TILCK_NO_LOGO` is set. See https://github.com/vvaltchev/tilck/blob/master/other/coverage_build.yml.

Because those trivial code lines that don't r

[2022-08-08 21:31] vvaltchev opened #119 "Don't download twice codecov in coverage_build.yml"
Currently, https://uploader.codecov.io/latest/linux/codecov is downloaded twice: once by the command `./build/scripts/generate_kernel_coverage_report --codecov` and once explicitly. It would be better to skip the 2nd download and just re-run the coverage tool from `./build/tmp/covecov`.

@michelececcacci I guess this is for you to fix ;-)

[2022-08-08 21:41] vvaltchev opened #120 "Write a unit test to trigger the error code path in fork_dup_all_handles()"
As it can be seen here: https://app.codecov.io/gh/vvaltchev/tilck/blob/master/kernel/fork.c, currently the following code path inside `fork_dup_all_handles()` is not covered by tests:

[code]

Now that we have gMock in Tilck, it would be relatively simple to just mock `vfs_dup` and `vfs_close()` so that inside a unit test we can trigger this code path. To do that, it would be necessary to make the

[2022-08-08 21:42] michelececcacci commented on #119
I can take it, no problem!

[2022-08-08 21:48] vvaltchev commented on #119
Thanks @michelececcacci !! :-)

[2022-08-08 22:11] vvaltchev opened #121 "Move kernel/fs/fat32_debug.c to tests/unit/"
The file contains just debug-util functions to dump a FAT32 in-memory partition. It doesn't make sense to keep it in the kernel itself.
Note: its declaration in `include/tilck/common/fat32_base.h` has to be removed as well.

[2022-08-09 09:16] vvaltchev commented on #119
Thanks!!

[2022-08-09 09:16] #119 closed

[2022-08-09 21:57] lvntky commented on #121
hi @vvaltchev i want to contribute the tilck and think i can handle this, can you assign me to the issue? Or may I be a contributer?

[2022-08-09 22:35] vvaltchev commented on #121
Hi @lvntky, you’re absolutely welcome to contribute. I’ve assigned the issue to you.

[2022-08-09 22:43] lvntky commented on #121
Thank you very much @vvaltchev ! Even though I am new to the contributing OSS, I really like tilck, I will do my best and hopefully be a helpful long-term contributor. Tomorrow I will start with reading the contribution and testing guidelines!

[2022-08-11 19:02] vvaltchev commented on #121
After merging https://github.com/vvaltchev/tilck/pull/125, this issue has been fixed.

[2022-08-11 19:02] #121 closed

[2022-08-13 15:00] lvntky commented on #118
Hi @vvaltchev, I surround the `print_banner_line()` and `show_tilck_logo()` with the `#if KERNEL_SHOW_LOGO` and `#endif`. I build the tilck and run on qemu also build and test with gtests, didn't occure with any error. Also i tkinter with `mod_console.h` a bit, I changed the `#define    KERNEL_SHOW_LOGO 1` to 0(for checking the #if KERNEL_SHOW_LOGO works on misc.c) and GCC gives error for `show_he

[2022-08-17 00:23] vvaltchev commented on #118
Hello @lvntky, thanks for working on that. Sure, your plans sounds OK. The change should consist just in adding an `#ifdef` + an `#endif`. But, if you wanna check if everything compiles properly in both cases (which is necessary), touching `mod_console.h` is not the right thing to do. (Also note: there are two mod_console.h files: the template one in `config` and the automatically generated one in

[2022-08-17 07:55] lvntky commented on #118
hi @vvaltchev , thank you for these great information, I will prepare a pull request in light of this information.
Yes I know you are on vacation, I hope you're having a good one :)  See you after the vacation

[2022-08-18 21:46] vvaltchev commented on #118
This issue has been fixed by pull request https://github.com/vvaltchev/tilck/pull/126

[2022-08-18 21:46] #118 closed

[2022-08-18 22:59] michelececcacci opened #127 "small typo in the wiki micropython page"
Here https://github.com/vvaltchev/tilck/wiki/Micropython-on-Tilck `scripts` is written as `script` in both the code sections that contain it. I would have provided a PR myself, but apparently i can't submit PRs for the wiki so here we go.

[2022-08-19 03:01] vvaltchev commented on #127
Fixed, thanks Michele!

[2022-08-19 03:01] #127 closed

[2022-08-20 16:42] vvaltchev opened #129 "Add system tests for sys_setuid() and friends"
As it can be seen here: https://app.codecov.io/gh/vvaltchev/tilck/blob/master/kernel/auth.c, the trivial functions in `kernel/auth.c` don't have any test coverage. That's because they are so simple that it's obvious why they work BUT, at the same time, it would still be nice to have test coverage for them for two reasons:
 1. It would increase Tilck's test coverage a little bit
 2. It would be a g

[2022-09-09 15:04] vvaltchev opened #135 "Move other/musl-gcc and other/musl-g++ to scripts/templates"
The `other/musl-gcc` and `other/musl-g++` template scripts are currently in the wrong place. The fix requires simply moving those two files to `scripts/templates` and replacing their paths in the `other/cmake/gen_config_pre.cmake` file:

Code snippet:

[code]

[2022-09-18 16:01] michelececcacci commented on #120
Even though i'm not a first time contributor i would like to take this.

[2022-09-18 21:18] vvaltchev commented on #120
@michelececcacci Sure, take the issue. You haven't contributed in this area, so I guess it's still a very good first task for you.

[2022-09-25 14:53] francescoparra commented on #135
Hello, may I take this issue?

[2022-09-25 15:55] vvaltchev commented on #135
Hello @francescoparra. Sure, absolutely :-)

[2022-09-25 17:31] francescoparra opened #142 "Contribution documentation is not easily found"
When I had the first approach with the project I was searching for the `contributing.md` file without seeing the `docs` folder.

I think that move the file to the main folder would be better.

Another alternative could be to speicify the file in the `README.md`

[2022-09-25 18:58] vvaltchev commented on #142
Thank you for the feedback, @francescoparra.
Originally, I introduced the `contributing.md` file in the main folder along with `code_of_conduct.md`, but it turned out that I didn't like it because the main folder started to have too many entries. I don't like it too crowded, in particular with long file/directory names. So, I moved both the files to `docs/`, to make it more clean.

I guess the bes

[2022-09-25 22:06] vvaltchev commented on #142
I added a short contributing section in the README file.

[2022-09-25 22:06] #142 closed

[2022-09-26 11:34] vvaltchev commented on #135
Closing this issue, as it has been fixed by commit https://github.com/vvaltchev/tilck/commit/32b571d5625c04eefb9bf7a3ba732dc6c1e2cf53

[2022-09-26 11:34] #135 closed

[2022-10-10 12:27] michelececcacci commented on #117
Mind if i take this?

[2022-10-10 17:36] #120 closed

[2022-10-10 17:36] vvaltchev commented on #117
Not at all, be my guest :-)

[2022-10-11 13:45] michelececcacci opened #144 "Warn not to mock and wrap the same function in mocking_experiments.cpp"
I feel like this would be a better experience for people that are not well versed on c++(possibly first time contributors). For example, this slowed me down quite a bit. I know it's not really anyone's fault, but a warning would be nice.  If you feel like it's not necessary, just close the issue.

[2022-10-11 17:09] vvaltchev commented on #144
I'm not sure what do you mean. Did you add originally a __wrap function? I believe the instructions in the file are CLEAR:

[code]

Is there any step missing in the instructions?
We cannot warning people against any kind of possible mistake they could possibly make.

[2022-10-11 17:17] michelececcacci commented on #144
The instructions are really clear, i just didn't want anyone to repeat a mistake i did (wrapping and mocking a function at the same time)

[2022-10-11 17:17] #144 closed

[2022-10-12 15:33] vvaltchev opened #145 "Add unit tests for functions in string_util.c"
As it can be seen here: https://app.codecov.io/gh/vvaltchev/tilck/blob/master/common/string_util.c, those functions do not have full coverage, while it will good to have that.

One of the technical problems here is that those functions have the same name as the standard libc functions (e.g. strcpy(), strcat() etc.). Therefore, they cannot be exported to unit tests directly. The solution to this pr

[2022-10-12 18:48] vvaltchev opened #146 "Add tests for simple_wildcard_match() and set_traced_syscalls_int()"
As it can be seen here: https://app.codecov.io/gh/vvaltchev/tilck/blob/master/modules/tracing/tracing.c, the functions `simple_wildcard_match()` and `set_traced_syscalls_int()` have little test coverage, while it will be easy to write unit tests for them.

Just make the functions be `STATIC` instead of `static`, so that the functions will be visible in the unit tests binary. The goal here is to re

[2022-10-12 19:00] vvaltchev opened #147 "Add tests for save_param_buffer() and dump_param_buffer()"
As it can be seen here: https://app.codecov.io/gh/vvaltchev/tilck/blob/master/modules/tracing/ptype_buffer.c, both the functions don't have enough coverage.

It will be great to write unit tests for both the functions. Hints:
1.  Both the functions are `static` and need to be made `STATIC` in order to be used from unit tests
2.  Testing `save_param_buffer()` requires mocking `copy_str_from_user()`

[2022-10-30 15:47] michelececcacci commented on #145
This should be closed as completed

[2022-10-30 17:41] vvaltchev commented on #145
Sure.

[2022-10-30 17:41] #145 closed

[2022-10-31 16:21] michelececcacci commented on #147
I'm taking this

[2022-11-29 16:58] malisipi opened #151 "Unable to build on Ubuntu 21.10"
**Describe the bug**
Unable to build on Ubuntu 22.10.

**Host configuration**

**ARCH:** i386
**HOST_ARCH:** x86_64
**GCC_TC_VER:** 8.4.0
**ARCH_GCC_TC_VER:** stable-2020.02-2

**Toolchain configuration**
I used only `./scripts/build_toolchain`

**Tilck build configuration**
I used only `make` command only.
Commit: 2cb2bf7edfe15cd880e2a42a842ddbb50412601d

**Type of issue (select one)**
- Toolchai

[2022-11-29 19:55] vvaltchev commented on #151
Hello @malisipi,
from the attached log file I see the following error:

[code]
and it looks weird that it cannot find `usr/share/terminfo/l` as the directory is in `sysroot`. Could you please attach the output of:
[code]
run on Tilck's root directory?

Also, could you please attach the output of the following three commands?
[code]

Thank you,
Vlad

[2022-11-29 20:53] malisipi commented on #151
Thank you for attention. I ran these commands. But it seems everything is correct.

[code]

[code]

[2022-11-30 12:50] vvaltchev commented on #151
Hello @malisipi,
from what I see, everything is OK.

Tilck for sure _does_ build on Ubuntu 21.10 in the general case as Ubuntu is the main development distro. There's something weird with your setup. The (generated) script that fails should be: `./build/scripts/build_fatpart`. Try running it manually and debugging it a bit. The only place `mmd` is used is in the `make_fatpart` function:

[code]
Ma

[2022-11-30 14:08] malisipi commented on #151
I have created a new user that uses English as primary language. And everything works fine now. Thanks you too much.

[2022-11-30 17:23] vvaltchev commented on #151
You're welcome. Probably the bug is in mtools.